@import "normalize";
@import "htmlize";

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto Slab:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto Condensed:300,400,500'); 

body {
    font-family: "Roboto", sans;
    maxwidth: 95%;
    margin: 2% auto;
    font-size: 20px;
    line-height: 1.4em;
    font-family: $serif;
    color: #333333;
}

@media screen and (min-width: 700px) {
    body {
        font-size: 20px;
    }
}

@media screen and (min-width: 910px) {
    body {
        width: 1000px;
    }
}


b {
    font-weight: 400;
}

a {
    color:  #2596be;
    text-decoration: none;
/*    font-weight: 400;*/
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
     color: #2596be;
}

h1.title {
    font-weight: 400;
    line-height: 0.75em;
    padding-top: 1.em;
    padding-bottom: 0.5em;
    width: 100%;
    color #2596be;
}

h1 span.subtitle {
    font-size: 16px;
    font-weight: 300;
}
h2 {
    clear: both;
    padding-top: 1em;
    padding-bottom: 0em;
    color: #2596be;
}


p {
    text:align: justify;
/*    column-count: 2;*/
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    font-size: 18px;
}

div.abstract {
    background: #f9f9ff;
    padding: .75em 1em .75em 1em;
    line-height: 1.25em;
    font-family: "Roboto Condensed", sans-serif;
    border: .5px solid  #2596be;
    padding-bottom: 0.25em;
}
div.abstract p {
    column-count: 1;
    margin: 0 0 0.5em 0;
}

div.figure {
    padding: 0.50em .00em 0.75em .00em;
}
div.figure p {
    column-count: 1;
    line-height: 1.2em;
    font-family: "Roboto Condensed", sans-serif;
}
div.sidefig::after {
    display: block;
    content: "";
    clear: both;
}
div.sidefig div.figure p:nth-of-type(1) {
    width: 60%;
    float: left;
}
div.sidefig div.figure p:nth-of-type(2) {
    font-size: 95%;
    /*    border-top: 1px solid black; */
    background-color: #f9f9ff;
    padding: 1em;
}
div.sidefig div.figure img {
    width: 100%;
}

div.figure img {
    width: 70%;
}
span.figure-number {
    font-weight: 500;
}

table {
         border: 1px solid black;
         padding: 3px;
         width: 50%
}

 th, td{
         border:1px solid black;
         padding: 3px;
      }

img {
  display: block;
  width: 100%;
}

/* --- Footnote ------------------------------------------------------------ */
div.footpara {
    display: inline-block;
}
h2.footnotes {
    font-size: 16px;
    width: 50%;
    border-bottom: 1px solid black;
}
p.footpara {
    column-count: 1;
    line-height: 1.25em;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}
sup {
    font-size: 0.75em;
    vertical-align: top;
    position: relative; top: -0.5em;
}

/* --- Block quote --------------------------------------------------------- */
blockquote p {
    font-size: 95%;
    line-height: 1.15em;
    column-count: 1;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

/* --- Source blocks ------------------------------------------------------- */

pre.protocol {
    font-size: 95%;
    background-color: #f9f9ff;
    line-height: 1.4em;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    padding: 0.5em 1em 0.5em 1em;
}

span.listing-number {
    font-weight: 500;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

tip {
    width: 30%;
    padding-left: 0.25rem;
    margin-left: 0.25rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #559955;
    font-style: italic;
    color: #559955;
}

tip > p {
    margin: 0.25rem;
    padding-left: 0.6rem;
}



kbd {
    background-color: #f7f7f7;
    font-size: $code-size;
    margin: 0 .1em;
    padding: .1em .6em;
}

.todo {
    background-color: red;
    color: white;
    padding: .1em 0.3em;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: $code-size;
    font-family: $monospace;
    line-height: 1;
}

.done {
    background-color: green;
    color: white;
    padding: .1em 0.3em;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: $code-size;
    font-family: $monospace;
    line-height: 1;
}

.priority {
    color: orange;
    font-family: $monospace;
}

/* Because tag span is set to float.  This is more like a hacking.  Maybe we
   need a cleaner solution. */
#table-of-contents li {
    clear: both;
}

.tag {
    font-family: $monospace;
    font-size: 0.7em;
    font-weight: normal;
}

.tag span {
    padding: 0.3em 0.3em;
    float: right;
    margin-right: .5em;
    border: 1px solid #bbb;
    border-radius: 3px;
    background-clip: padding-box;
    color: #333;
    background-color: #eee;
    line-height: 1;
}

.timestamp {
    color: #bebebe;
    font-size: $smaller;
}

.timestamp-kwd {
    color: #5f9ea0;
}

.org-right {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}

.org-left {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}

.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

#postamble p, #preamble p {
    font-size: $smaller;
    margin: .2em;
}

p.verse {
    margin-left: 3%;
}

:not(pre) > code {
    padding: 2px 5px;
    margin: auto 1px;
    border: 1px solid #DDD;
    border-radius: 3px;
    background-clip: padding-box;
    color: #333;
    font-size: $code-size;
}

.org-src-container {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    font-family: $monospace;
    font-size: $code-size;
    margin: 1em auto;
    padding: 0.1em 0.5em;
    position: relative;
}

.org-src-container>pre {
    overflow: auto;
}

.org-src-container>pre:before {
    display: block;
    position: absolute;
    background-color: #b3b3b3;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    border-bottom-left-radius: 8px;
    border: 0;
    color: white;
    font-size: $code-size;
}

/* from http://demo.thi.ng/org-spec/ */

.org-src-container>pre.src-sh:before {
    content: 'sh';
}
.org-src-container>pre.src-bash:before {
    content: 'bash';
}
.org-src-container>pre.src-emacs-lisp:before {
    content: 'Emacs Lisp';
}
.org-src-container>pre.src-R:before {
    content: 'R';
}
.org-src-container>pre.src-org:before {
    content: 'Org';
}
.org-src-container>pre.src-cpp:before {
    content: 'C++';
}
.org-src-container>pre.src-c:before {
    content: 'C';
}
.org-src-container>pre.src-html:before {
    content: 'HTML'
}
.org-src-container>pre.src-js:before {
    content: 'Javascript'
}
.org-src-container>pre.src-javascript:before {
    content: 'Javascript'
}

// More languages from http://orgmode.org/worg/org-contrib/babel/languages.html

.org-src-container>pre.src-abc:before {
    content: 'ABC';
}
.org-src-container>pre.src-asymptote:before {
    content: 'Asymptote';
}
.org-src-container>pre.src-awk:before {
    content: 'Awk';
}
.org-src-container>pre.src-C:before {
    content: 'C';
}
.org-src-container>pre.src-calc:before {
    content: 'Calc';
}
.org-src-container>pre.src-clojure:before {
    content: 'Clojure';
}
.org-src-container>pre.src-comint:before {
    content: 'comint';
}
.org-src-container>pre.src-css:before {
    content: 'CSS';
}
.org-src-container>pre.src-D:before {
    content: 'D';
}
.org-src-container>pre.src-ditaa:before {
    content: 'Ditaa';
}
.org-src-container>pre.src-dot:before {
    content: 'Dot';
}
.org-src-container>pre.src-ebnf:before {
    content: 'ebnf';
}
.org-src-container>pre.src-forth:before {
    content: 'Forth';
}
.org-src-container>pre.src-F90:before {
    content: 'Fortran';
}
.org-src-container>pre.src-gnuplot:before {
    content: 'Gnuplot';
}
.org-src-container>pre.src-haskell:before {
    content: 'Haskell';
}
.org-src-container>pre.src-io:before {
    content: 'Io';
}
.org-src-container>pre.src-java:before {
    content: 'Java';
}
.org-src-container>pre.src-julia:before {
    content: 'Julia';
}
.org-src-container>pre.src-jupyter-julia:before {
    content: 'Julia';
}
.org-src-container>pre.src-jupyter-python:before {
    content: 'Python';
}
.org-src-container>pre.src-latex:before {
    content: 'LaTeX';
}
.org-src-container>pre.src-ledger:before {
    content: 'Ledger';
}
.org-src-container>pre.src-ly:before {
    content: 'Lilypond';
}
.org-src-container>pre.src-lisp:before {
    content: 'Lisp';
}
.org-src-container>pre.src-makefile:before {
    content: 'Make';
}
.org-src-container>pre.src-matlab:before {
    content: 'Matlab';
}
.org-src-container>pre.src-max:before {
    content: 'Maxima';
}
.org-src-container>pre.src-mscgen:before {
    content: 'Mscgen';
}
.org-src-container>pre.src-Caml:before {
    content: 'Objective';
}
.org-src-container>pre.src-octave:before {
    content: 'Octave';
}
.org-src-container>pre.src-org:before {
    content: 'Org';
}
.org-src-container>pre.src-perl:before {
    content: 'Perl';
}
.org-src-container>pre.src-picolisp:before {
    content: 'Picolisp';
}
.org-src-container>pre.src-plantuml:before {
    content: 'PlantUML';
}
.org-src-container>pre.src-python:before {
    content: 'Python';
}
.org-src-container>pre.src-ruby:before {
    content: 'Ruby';
}
.org-src-container>pre.src-sass:before {
    content: 'Sass';
}
.org-src-container>pre.src-scala:before {
    content: 'Scala';
}
.org-src-container>pre.src-scheme:before {
    content: 'Scheme';
}
.org-src-container>pre.src-screen:before {
    content: 'Screen';
}
.org-src-container>pre.src-sed:before {
    content: 'Sed';
}
.org-src-container>pre.src-shell:before {
    content: 'shell';
}
.org-src-container>pre.src-shen:before {
    content: 'Shen';
}
.org-src-container>pre.src-sql:before {
    content: 'SQL';
}
.org-src-container>pre.src-sqlite:before {
    content: 'SQLite';
}
.org-src-container>pre.src-stan:before {
    content: 'Stan';
}
.org-src-container>pre.src-vala:before {
    content: 'Vala';
}
.org-src-container>pre.src-axiom:before {
    content: 'Axiom';
}
.org-src-container>pre.src-browser:before {
    content: 'HTML';
}
.org-src-container>pre.src-cypher:before {
    content: 'Neo4j';
}
.org-src-container>pre.src-elixir:before {
    content: 'Elixir';
}
.org-src-container>pre.src-request:before {
    content: 'http';
}
.org-src-container>pre.src-ipython:before {
    content: 'iPython';
}
.org-src-container>pre.src-kotlin:before {
    content: 'Kotlin';
}
.org-src-container>pre.src-Flavored Erlang  lfe:before {
    content: 'Lisp';
}
.org-src-container>pre.src-mongo:before {
    content: 'MongoDB';
}
.org-src-container>pre.src-prolog:before {
    content: 'Prolog';
}
.org-src-container>pre.src-rec:before {
    content: 'rec';
}
.org-src-container>pre.src-ML  sml:before {
    content: 'Standard';
}
.org-src-container>pre.src-Translate  translate:before {
    content: 'Google';
}
.org-src-container>pre.src-typescript:before {
    content: 'Typescript';
}
.org-src-container>pre.src-rust:before {
    content: 'Rust';
}

.inlinetask {
    background: #ffffcc;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
}

#org-div-home-and-up {
    font-size: 70%;
    text-align: right;
    white-space: nowrap;
}

.linenr {
    font-size: $smaller;
}

.code-highlighted {
    background-color: #ffff00;
}

#bibliography {
    font-size: $smaller;
}

#bibliography table {
    width: 100%;
}

.creator {
    display: block;
}

@media screen and (min-width: 600px) {
    .creator {
        display: inline;
        float: right;
    }
}
